# Miscellaneous
GcmpVoice
.claude/
.superpowers/
.metadata
*.log
.DS_Store
.history

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# site
site/node_modules/
site/dist/
site/lighthouse-*.json
